[submodule "map-frame-project"]
    path = frame/map-frame-project
    url =  http://192.168.1.64:8010/android-sdk/map-frame-project.git

[submodule "NetWork-frame-project"]
    path = frame/NetWork-frame-project
    url =  http://192.168.1.64:8010/android-sdk/NetWork-frame-project.git

[submodule "mvp-frame-project"]
    path = frame/mvp-frame-project
    url =  http://192.168.1.64:8010/android-sdk/mvp-frame-project.git

[submodule "ORM-frame-project"]
    path = frame/ORM-frame-project
    url =  http://192.168.1.64:8010/android-sdk/ORM-frame-project.git


[submodule "autoUpdate-frame-project"]
    path = frame/autoUpdate-frame-project
    url =  http://192.168.1.64:8010/android-sdk/autoUpdate-frame-project.git